{
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  },
  "presets": [
    [
      "@babel/env",
      {
        "forceAllTransforms": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "preprocess": false,
        "minify": true,
        "displayName": false
      }
    ]
  ]
}