{
  "env": {
    "es6": true
  },
  "plugins": [
    "prettier",
    "import",
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".js", ".json"]
      }
    },
    "import/extensions": [
      ".js",
      ".mjs",
      ".jsx"
    ],
    "import/core-modules": [
    ],
    "import/ignore": [
      "node_modules",
      "\\.(coffee|scss|css|less|hbs|svg|json)$"
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "analytics": true,
    "Stripe": true,
    "qp": true,
    "obApi": true,
    "FS": true,
    "_tfa": true,
    "google": true
  },
  "rules": {
    "strict": 2,
    "prettier/prettier": "error",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "curly": ["error", "multi-line"],
    "default-case": ["error", { "commentPattern": "^no default$" }],
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "no-case-declarations": "error",
    "max-classes-per-file": ["off", 1],
    "no-alert": "warn",
    "no-caller": "error",
    "no-empty-function": ["error", {
      "allow": [
        "arrowFunctions",
        "functions",
        "methods"
      ]
    }],
    "no-eq-null": "off",
    "no-eval": "error",
    "no-global-assign": ["error", { "exceptions": [] }],
    "no-implicit-globals": "off",
    "no-implied-eval": "error",
    "no-invalid-this": "off",
    "no-iterator": "error",
    "no-loop-func": "error",
    "no-magic-numbers": ["off", {
      "ignore": [],
      "ignoreArrayIndexes": true,
      "enforceConst": true,
      "detectObjects": false
    }],
    "no-multi-spaces": ["error", {
      "ignoreEOLComments": false
    }],
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": [
        "acc",
        "accumulator",
        "e",
        "ctx",
        "req",
        "request",
        "res",
        "response"
      ]
    }],
    "no-proto": "error",
    "no-redeclare": "error",
    "no-restricted-properties": ["error", {
      "object": "arguments",
      "property": "callee",
      "message": "arguments.callee is deprecated"
    }, {
      "object": "global",
      "property": "isFinite",
      "message": "Please use Number.isFinite instead"
    }, {
      "object": "self",
      "property": "isFinite",
      "message": "Please use Number.isFinite instead"
    }, {
      "object": "window",
      "property": "isFinite",
      "message": "Please use Number.isFinite instead"
    }, {
      "object": "global",
      "property": "isNaN",
      "message": "Please use Number.isNaN instead"
    }, {
      "object": "self",
      "property": "isNaN",
      "message": "Please use Number.isNaN instead"
    }, {
      "object": "window",
      "property": "isNaN",
      "message": "Please use Number.isNaN instead"
    }, {
      "property": "__defineGetter__",
      "message": "Please use Object.defineProperty instead."
    }, {
      "property": "__defineSetter__",
      "message": "Please use Object.defineProperty instead."
    }, {
      "object": "Math",
      "property": "pow",
      "message": "Use the exponentiation operator (**) instead."
    }],
    "no-return-assign": ["error", "always"],
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-assign": ["error", {
      "props": false
    }],
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "off",
    "no-unused-expressions": ["error", {
      "allowShortCircuit": false,
      "allowTernary": false,
      "allowTaggedTemplates": false
    }],
    "no-unused-labels": "error",
    "no-useless-call": "off",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "no-warning-comments": ["off", { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
    "no-with": "error",
    "require-await": "off",
    "for-direction": "error",
    "getter-return": ["error", { "allowImplicit": true }],
    "no-async-promise-executor": "off",
    "no-await-in-loop": "error",
    "no-compare-neg-zero": "error",
    "no-cond-assign": ["error", "always"],
    "no-console": "warn",
    "no-constant-condition": "warn",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": ["off", "all", {
      "conditionalAssign": true,
      "nestedBinaryExpressions": false,
      "returnAssign": false,
      "ignoreJSX": "all",
      "enforceForArrowConditionals": false
    }],
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-template-curly-in-string": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "no-negated-in-lhs": "off",
    "arrow-body-style": ["error", "as-needed", {
      "requireReturnForObjectLiteral": false
    }],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "constructor-super": "error",
    "generator-star-spacing": ["error", { "before": false, "after": true }],
    "no-class-assign": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-this-before-super": "error",
    "no-useless-rename": ["error", {
      "ignoreDestructuring": false,
      "ignoreImport": false,
      "ignoreExport": false
    }],
    "no-var": "error",
    "object-shorthand": ["error", "always", {
      "ignoreConstructors": false,
      "avoidQuotes": true
    }],
    "prefer-arrow-callback": ["error", {
      "allowNamedFunctions": false,
      "allowUnboundThis": true
    }],
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": true
    }],
    "prefer-spread": "error",
    "prefer-template": "error",
    "sort-imports": ["off", {
      "ignoreCase": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "template-curly-spacing": "error",
    "array-bracket-newline": ["off", "consistent"],
    "array-element-newline": ["off", { "multiline": true, "minItems": 3 }],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["error", { "properties": "never" }],
    "capitalized-comments": ["off", "never", {
      "line": {
        "ignorePattern": ".*",
        "ignoreInlineComments": true,
        "ignoreConsecutiveComments": true
      },
      "block": {
        "ignorePattern": ".*",
        "ignoreInlineComments": true,
        "ignoreConsecutiveComments": true
      }
    }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last", {
      "exceptions": {
        "ArrayExpression": false,
        "ArrayPattern": false,
        "ArrowFunctionExpression": false,
        "CallExpression": false,
        "FunctionDeclaration": false,
        "FunctionExpression": false,
        "ImportDeclaration": false,
        "ObjectExpression": false,
        "ObjectPattern": false,
        "VariableDeclaration": false,
        "NewExpression": false
      }
    }],  
    "computed-property-spacing": ["error", "never"],  
    "consistent-this": "off",
    "eol-last": ["error", "always"],
    "func-call-spacing": ["error", "never"],
    "func-name-matching": ["off", "always", {
      "includeCommonJSModuleExports": false
    }],  
    "func-names": "warn",
    "func-style": ["off", "expression"],
    "id-blacklist": "off",
    "id-length": "off",
    "id-match": "off",
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true,
      "overrides": {
        "return": { "after": true },
        "throw": { "after": true },
        "case": { "after": true }
      }
    }],
    "line-comment-position": ["off", {
      "position": "above",
      "ignorePattern": "",
      "applyDefaultPatterns": true
    }],
    "linebreak-style": ["error", "unix"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": false }],
    "lines-around-comment": "off",
    "lines-around-directive": ["error", {
      "before": "always",
      "after": "always"
    }],
    "max-depth": ["off", 4],
    "max-len": ["error", 100, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "max-nested-callbacks": "off",
    "max-params": ["off", 3],
    "max-statements": ["off", 10],
    "max-statements-per-line": ["off", { "max": 1 }],
    "multiline-comment-style": ["off", "starred-block"],
    "multiline-ternary": ["off", "never"],  
    "new-cap": ["error", {
      "newIsCap": true,
      "newIsCapExceptions": [],
      "capIsNew": false,
      "capIsNewExceptions": ["Immutable.Map", "Immutable.Set", "Immutable.List"]
    }],
    "new-parens": "error",  
    "newline-after-var": "off",  
    "newline-before-return": "off",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 4 }],
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-continue": "error",
    "no-inline-comments": "off",
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-assign": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "no-negated-condition": "off",
    "no-new-object": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "ForOfStatement",
        "message": "iterators/generators require regenerator-runtime, which is too heavyweight for this guide to allow them. Separately, loops should be avoided in favor of array iterations."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ],
    "no-spaced-func": "error",
    "no-tabs": "error",
    "no-ternary": "off",
    "no-trailing-spaces": ["error", {
      "skipBlankLines": false,
      "ignoreComments": false
    }],
    "no-unneeded-ternary": ["error", { "defaultAssignment": false }],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-whitespace-before-property": "error",
    "nonblock-statement-body-position": ["error", "beside", { "overrides": {} }],
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": ["error", {
      "allowAllPropertiesOnSameLine": true
    }],
    "one-var": ["error", "never"],
    "one-var-declaration-per-line": ["error", "always"],
    "operator-assignment": ["error", "always"],
    "padded-blocks": ["error", { "blocks": "never", "classes": "never", "switches": "never" }],
    "padding-line-between-statements": "off",
    "prefer-object-spread": "off",
    "quote-props": ["error", "as-needed", { "keywords": false, "unnecessary": true, "numbers": false }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "require-jsdoc": "off",
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "semi-style": ["error", "last"],
    "sort-keys": ["off", "asc", { "caseSensitive": false, "natural": true }],
    "sort-vars": "off",
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", {
      "words": true,
      "nonwords": false,
      "overrides": {
      }
    }],
    "spaced-comment": ["error", "always", {
      "line": {
        "exceptions": ["-", "+"],
        "markers": ["=", "!"]
      },
      "block": {
        "exceptions": ["-", "+"],
        "markers": ["=", "!"], 
        "balanced": true
      }
    }],
    "switch-colon-spacing": ["error", { "after": true, "before": false }],
    "template-tag-spacing": ["error", "never"],
    "wrap-regex": "off",
    "import/named": "error",
    "import/default": "off",
    "import/namespace": "off",
    "import/export": "error",
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-deprecated": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "test/**",
        "tests/**",
        "**/__tests__/**",
        "**/__mocks__/**",
        "test.{js,jsx}",
        "test-*.{js,jsx}",
        "**/*{.,_}{test,spec}.{js,jsx}",
        "**/jest.config.js", 
        "**/webpack.config.js",
        "**/webpack.config.*.js"
      ],
      "optionalDependencies": false
    }],
    "import/no-mutable-exports": "error",
    "import/no-commonjs": "off",
    "import/no-amd": "error",
    "import/no-nodejs-modules": "off",
    "import/first": "error",
    "import/imports-first": "off",
    "import/no-duplicates": "error",
    "import/no-namespace": "off",
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "jsx": "never"
    }],
    "import/order": ["error", { "groups": [["builtin", "external", "internal"]] }],
    "import/newline-after-import": "error",
    "import/prefer-default-export": "error",
    "import/no-restricted-paths": "off",
    "import/max-dependencies": ["off", { "max": 10 }],
    "import/no-absolute-path": "error",
    "import/no-dynamic-require": "error",
    "import/no-internal-modules": ["off", {
      "allow": []
    }],
    "import/unambiguous": "off",
    "import/no-webpack-loader-syntax": "error",
    "import/no-unassigned-import": "off",
    "import/no-named-default": "error",
    "import/no-anonymous-default-export": ["off", {
      "allowArray": false,
      "allowArrowFunction": false,
      "allowAnonymousClass": false,
      "allowAnonymousFunction": false,
      "allowLiteral": false,
      "allowObject": false
    }],
    "import/exports-last": "off",
    "import/group-exports": "off",
    "import/no-default-export": "off",
    "import/no-self-import": "error",
    "import/no-cycle": "error",
    "import/no-useless-path-segments": "error",
    "import/dynamic-import-chunkname": ["off", {
      "importFunctions": [],
      "webpackChunknameFormat": "[0-9a-zA-Z-_/.]+"
    }],
    "import/no-relative-parent-imports": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "class-methods-use-this": ["error", {
      "exceptMethods": [
        "render",
        "getInitialState",
        "getDefaultProps",
        "getChildContext",
        "componentWillMount",
        "UNSAFE_componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "UNSAFE_componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "UNSAFE_componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount",
        "componentDidCatch",
        "getSnapshotBeforeUpdate"
      ]
    }],
    "react/display-name": ["off", { "ignoreTranspilerName": false }],
    "react/forbid-dom-props": ["off", { "forbid": [] }],
    "react/jsx-boolean-value": ["error", "never", { "always": [] }],
    "react/jsx-closing-bracket-location": ["error", "line-aligned"],
    "react/jsx-curly-spacing": ["error", "never", { "allowMultiline": true }],
    "react/jsx-handler-names": ["off", {
      "eventHandlerPrefix": "handle",
      "eventHandlerPropPrefix": "on"
    }],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-key": "off",
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "react/jsx-no-bind": ["error", {
      "ignoreRefs": true,
      "allowArrowFunctions": true,
      "allowFunctions": false,
      "allowBind": false,
      "ignoreDOMComponents": true
    }],
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": true }],
    "react/jsx-no-literals": ["off", { "noStrings": true }],
    "react/jsx-no-undef": "error",
    "react/jsx-pascal-case": ["error", {
      "allowAllCaps": true,
      "ignore": []
    }],
    "react/sort-prop-types": ["off", {
      "ignoreCase": true,
      "callbacksLast": false,
      "requiredFirst": false,
      "sortShapeProp": true
    }],
    "react/jsx-sort-prop-types": "off",
    "react/jsx-sort-props": ["off", {
      "ignoreCase": true,
      "callbacksLast": false,
      "shorthandFirst": false,
      "shorthandLast": false,
      "noSortAlphabetically": false,
      "reservedFirst": true
    }],
    "react/jsx-sort-default-props": ["off", {
      "ignoreCase": true
    }],
    "react/jsx-uses-react": ["error"],
    "react/jsx-uses-vars": "error",
    "react/no-danger": "warn",
    "react/no-deprecated": ["error"],
    "react/no-did-mount-set-state": "off",
    "react/no-did-update-set-state": "error",
    "react/no-will-update-set-state": "error",
    "react/no-direct-mutation-state": "off",
    "react/no-is-mounted": "error",
    "react/no-multi-comp": ["error", { "ignoreStateless": true }],
    "react/no-set-state": "off",
    "react/no-string-refs": "error",
    "react/no-unknown-property": "error",
    "react/prefer-es6-class": ["error", "always"],
    "react/prefer-stateless-function": ["error", { "ignorePureComponents": true }],
    "react/prop-types": ["error", {
      "ignore": [],
      "customValidators": [],
      "skipUndeclared": false
    }],
    "react/react-in-jsx-scope": "error",
    "react/require-render-return": "error",
    "react/self-closing-comp": "error",
    "react/sort-comp": ["error", {
      "order": [
        "static-methods",
        "instance-variables",
        "lifecycle",
        "/^on.+$/",
        "getters",
        "setters",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "instance-methods",
        "everything-else",
        "rendering"
      ],
      "groups": {
        "lifecycle": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "defaultProps",
          "constructor",
          "getDefaultProps",
          "getInitialState",
          "state",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount"
        ],
        "rendering": [
          "/^render.+$/",
          "render"
        ]
      }
    }],
    "react/jsx-wrap-multilines": ["error", {
      "declaration": "parens-new-line",
      "assignment": "parens-new-line",
      "return": "parens-new-line",
      "arrow": "parens-new-line",
      "condition": "parens-new-line",
      "logical": "parens-new-line",
      "prop": "parens-new-line"
    }],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-no-target-blank": ["error", { "enforceDynamicLinks": "always" }],
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".js"] }],
    "react/jsx-no-comment-textnodes": "error",
    "react/no-render-return-value": "error",
    "react/require-optimization": ["off", { "allowDecorators": [] }],
    "react/no-find-dom-node": "error",
    "react/forbid-component-props": ["off", { "forbid": [] }],
    "react/forbid-elements": ["off", { "forbid": [] }],
    "react/no-danger-with-children": "error",
    "react/no-unused-prop-types": ["error", {
      "customValidators": [
      ],
      "skipShapeProps": true
    }],
    "react/style-prop-object": "error",
    "react/no-unescaped-entities": "error",
    "react/no-children-prop": "error",
    "react/jsx-tag-spacing": ["error", {
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never",
      "beforeClosing": "never"
    }],
    "react/jsx-space-before-closing": ["off", "always"],
    "react/no-array-index-key": "error",
    "react/forbid-foreign-prop-types": ["warn", { "allowInPropTypes": true }],
    "react/void-dom-elements-no-children": "error",
    "react/default-props-match-prop-types": ["error", { "allowRequiredDefaults": false }],
    "react/no-redundant-should-component-update": "error",
    "react/no-unused-state": "error",
    "react/boolean-prop-naming": ["off", {
      "propTypeNames": ["bool", "mutuallyExclusiveTrueProps"],
      "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+",
      "message": ""
    }],
    "react/no-typos": "error",
    "react/jsx-curly-brace-presence": ["error", { "props": "never", "children": "never" }],
    "react/jsx-one-expression-per-line": ["error", { "allow": "single-child" }],
    "react/button-has-type": ["error", {
      "button": true,
      "submit": true,
      "reset": false
    }],
    "react/jsx-child-element-spacing": "off",
    "react/no-this-in-sfc": "error",
    "react/jsx-max-depth": "off",
    "react/jsx-props-no-multi-spaces": "error",
    "react/no-unsafe": "off"
  },
  "extends": [
    "prettier"
  ]
}
